@model IEnumerable<BibliotekaMVCApp.Models.Book.BookEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Tytuł</p>
            </th>
            <th>
                <p>Ilość</p>
            </th>
            <th>
                <p>Status</p>
            </th>
            <th>
                <p>Autor</p>
            </th>
            <th>
                <p>Kategoria</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorFullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookId">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.BookId">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.BookId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
