@using BibliotekaMVCApp.Models.Book
@model IEnumerable<BibliotekaMVCApp.Models.Book.BookEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <p>Tytuł</p>
            </th>
            <th>
                <p>Autor</p>
            </th>
            <th>
                <p>Kategoria</p>
            </th>
            <th>
                <p>Ilość</p>
            </th>
            <th>
                <p>Data publikacji</p>
            </th>
            <th>
                <p>Status</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorFullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.BookId">Szczegóły</a> | 
                @if(item.Status == (int)Status.Dostępne)
                {
                    <a asp-controller="BorrowCart"
                asp-action="AddToBorrowCart"
                asp-route-bookId="@item.BookId">Dodaj do koszyka</a>
                }
                else
                {
                    <p class="disabled">Dodaj do koszyka</p>
                }
            </td>
        </tr>
}
    </tbody>
</table>
